Repository TeamProject-Farmer/front-end, pull requests merged in 2023-06, with the labels that each got.

#1 Feature/register: 회원가입 페이지 UI 구현
  .eslintrc.js
  package-lock.json
  package.json
  public/assets/images/option.svg
  src/components/Register/Footer/index.tsx
  src/components/Register/FormButton/index.tsx
  src/components/Register/Header/index.tsx
  src/components/Register/InputField/index.tsx
  src/components/Register/InputGroup/index.tsx
  src/components/Register/SnsCircles/index.tsx
  src/components/Register/styles.tsx
  src/pages/_app.tsx
  src/pages/register/index.tsx
  src/styles/globalStyle.tsx
  src/types/register/registerPage.ts
  src/utils/register/emailListUtil.ts
  src/utils/register/formUtil.ts
  tsconfig.json
Labels: 💡 feature, 🪡 style

#3 Feature/login: 로그인 UI 구현
  src/components/Login/Footer/index.tsx
  src/components/Login/InputGroup/index.tsx
  src/components/Login/TextField/index.tsx
  src/components/Login/styles.tsx
  src/components/Register/FormButton/index.tsx
  src/components/Register/InputField/index.tsx
  src/components/Register/InputGroup/index.tsx
  src/components/Register/styles.tsx
  src/pages/example/index.tsx
  src/pages/login/index.tsx
  src/types/login/types.ts
  src/types/register/types.ts
Labels: 💡 feature, 🪡 style

#12 Feature/register: 회원가입 페이지 API 작업
  .gitignore
  public/assets/images/common/logo.svg
  public/assets/images/login/google.svg
  public/assets/images/login/kakao.svg
  public/assets/images/login/naver.svg
  public/assets/images/register/option.svg
  src/apis/base.ts
  src/apis/register/email.ts
  src/apis/register/join.ts
  src/components/Login/styles.tsx
  src/components/Register/Footer/index.tsx
  src/components/Register/FormButton/index.tsx
  src/components/Register/InputGroup/index.tsx
  src/components/Register/SnsCircles/index.tsx
  src/components/Register/styles.tsx
  src/types/register/types.ts
  src/utils/register/formUtil.ts
  src/utils/register/scrollUp.ts
Labels: 💡 feature

#16 메인페이지 디자인 수정 및 기능 구현
  package-lock.json
  package.json
  public/assets/images/home/bannerBg0.png
  public/assets/images/home/bannerBg1.png
  public/assets/images/home/bannerBg2.png
  public/assets/images/home/largeBtn.svg
  public/assets/images/home/largeBtn_w.svg
  public/assets/images/home/mediumBtn.svg
  public/assets/images/home/mediumBtn_w.svg
  public/assets/images/home/newsBg.png
  public/assets/images/home/newsImage.png
  public/assets/images/home/smallBtn.svg
  public/assets/images/home/smallBtn_w.svg
  src/components/Home/Banner/index.tsx
  src/components/Home/Banner/styles.tsx
  src/components/Home/BestPlant/Plant.tsx
  src/components/Home/BestPlant/index.tsx
  src/components/Home/BestPlant/styles.ts
  src/components/Home/BestReview/Review.tsx
  src/components/Home/BestReview/index.tsx
  src/components/Home/BestReview/styles.ts
  src/components/Home/Common/Button.tsx
  src/components/Home/Common/Icon.tsx
  src/components/Home/Common/Title.tsx
  src/components/Home/Event/index.tsx
  src/components/Home/Event/styles.ts
  src/components/Home/Header/index.tsx
  src/components/Home/News/index.tsx
  src/components/Home/News/styles.ts
  src/components/Home/ShopPrev/index.tsx
  src/components/Home/ShopPrev/styles.ts
  src/components/Home/Slider/Indicator.tsx
  src/components/Home/Slider/SliderContent.tsx
  src/components/Home/Slider/index.tsx
  src/pages/index.tsx
  src/types/home/types.ts
Labels: 💡 feature, 🪡 style

#21 Feature/login: 자체 로그인 구현 및 로그인시 유저 상태관리
  package-lock.json
  package.json
  src/apis/login/login.ts
  src/components/Login/Footer/index.tsx
  src/components/Login/InputGroup/index.tsx
  src/components/Login/KakaoLogin/index.tsx
  src/components/Login/TextField/index.tsx
  src/components/Register/SnsCircles/index.tsx
  src/pages/_app.tsx
  src/pages/login/kakao.tsx
  src/styles/theme.tsx
  src/types/login/types.ts
  src/types/redux/types.ts
  src/utils/login/socialLoginData.ts
  store/index.ts
  store/reducers/userSlice.ts
Labels: 💡 feature, 📦 component

#23 Feature/register: 회원가입 페이지 수정사항 반영
  src/components/Register/InputGroup/index.tsx
  src/components/Register/styles.tsx
  src/utils/register/emailListUtil.ts
Labels: 💡 feature, 🪡 style, 📦 component
